# Firebase Configuration
FIREBASE_API_KEY=your-firebase-api-key
FIREBASE_AUTH_DOMAIN=coldbrew-e06ee.firebaseapp.com
FIREBASE_PROJECT_ID=coldbrew-e06ee
FIREBASE_STORAGE_BUCKET=coldbrew-e06ee.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=720297248520
FIREBASE_APP_ID=1:720297248520:web:91ebb35e1e2b4849038ebd

# Gemini API
GEMINI_API_KEY=your-gemini-api-key
